@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><h2>Đề tài</h2></p>
<p><h3>
    Tìm hiểu về Microsoft ML.NET và xây dựng ứng dụng minh họa
</h3></p>
<p><h2>My Team</h2></p>
<ul>
    <li>VÕ TẤN LỄ-----5951071048</li>
    <li>NGUYỄN THANH SANG-----5951071090</li>
    <li>TRẦN LÊ QUYỀN-----5951071088</li>
    <li>ĐẶNG QUANG TRƯỜNG NGUYÊN-----6051071078</li>
    <li>NGUYỄN VĂN DU-----6051071016</li>
</ul>
